<html>

<head>
  <link rel='stylesheet' href='/static/style.css'>
  <style>
    .img_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 400px 400px;
      grid-gap: 10px;
    }

    .img_item {
      height: 400px;
      width: 400px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    h1 {
      color: red;
    }
  </style>
</head>

<body>
  <div class='img_wrapper'>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
    <div class='img_item'>
      <img src="">
    </div>
</body>

</html>

<script>


  var url = "http://[240e:38b:8d7a:5100:102e:e0da:fd49:ba8]:1096/api/";
  var imgs = document.querySelectorAll('img');

  function getImg(img) {
    var httpRequest = new XMLHttpRequest();
    httpRequest.open('POST', url, true);
    httpRequest.setRequestHeader("Content-type", "application/json; charset=utf-8");
    var obj = {
      "method": "getRandomUrl",
    };
    httpRequest.onload = function () {
      var json = httpRequest.responseText;
      console.log(json);
      var res = JSON.parse(json);
      img.src = res['url'];
      console.log(res['url']);
    }
    httpRequest.send(JSON.stringify(obj));

  }
  
  for (const img of imgs) {
    getImg(img);
  }




</script>